<h1>Hello {{ name }} {{ last_name }}</h1>

<p>{{ str|striptags|title }}</p>

<p>{{ str }}</p>

<p>{{ str|e('html') }}</p>

<p>{{ list|join(', ') }}</p>

{% filter upper %}
    This text becomes uppercase
{% endfilter %}

<br>

{% for i in range(low=1, high=10, step=2) %}
    {{ i }},
{% endfor %}

<p>{{ '{{' }}</p>

{#<p>{{ 1..5 }}</p>#}
{#{{ range(1, 5) }}#}

<p>{{ (1..5)|join(', ') }}</p>

{% set name = 'Alek' %}
<h2>{{ "Hello " ~ name ~ "!" }}</h2>

{% set foo = false %}
<p>{{ foo ? 'yes' : 'no' }}</p>

<p>{{ bar ?? 'no' }}</p>

<p>{{ 'my name is #{name} Amazing' }}</p>  {# string interpolation #}
<p>{{ "my name is #{name} Amazing" }}</p>

{% set value = 'no spaces' %}
<li>    {{ value }}    </li>

{% for letter in 'a'..'z' %}
    * {{ letter }}.{{ loop.index0 + 1 }}
    {% if loop.index == 4 %}
         <h1>Its Works!!!</h1>
    {% endif %}
{% endfor %}
<p>***</p>
{% for letter in 'a'|upper..'z' %}
    * {{ letter }}
{% endfor %}

<p><em>no user found</em></p>

{% set name = 'no user found' %}
<p>{{ name|e }}</p>

{% from '@TechBlog/Macros/input.html.twig' import input as inp %}

{{ inp('name', 'alex') }}

{% set place = 'University' %}
{% set var = {'name': 'Metro'} %}

{% include '@TechBlog/Additional/welcome.html.twig' with {'name': 'Metro'} only %}
{#{% include '@TechBlog/Additional/welcome.html.twig' with var only %}#}

{% include 'sidebar.html' ignore missing %}

{% include ['page_detailed.html', 'page.html'] ignore missing %}

{% set foo = 'foo' ~ 'bar' %}

<p>{{ foo }}</p>

{% verbatim %}
    <ul>
    {% for item in seq %}
        <li>{{ item }}</li>
    {% endfor %}
    </ul>
{% endverbatim %}

<p>{{ "now"|date("F jS \\a\\t g:ia") }}</p>

<p>{{ 'string\n'|nl2br|raw ~ [1, 2, 3, 4, 'five']|join(', ', ' and ') }}</p>

{% set array = [1, 2, 3] %}

<pre>
    {% for key in array|keys %}
        {{ key }}
    {% endfor %}
</pre>

{{ '12345'|slice(4, 5) }}

<p>{{ '<i>some_html</i>'|striptags }}</p>
<p>{{ '  I like Twig.'|trim('g.') }}</p>

<title>{% block title %}joke{% endblock %}</title>

<h1>{{ block('title') }}</h1>
{{ block('title') }}
<p>{{ random(1) }}</p>

{% if 7 is divisible by(3) %}
    'divisible'
{% endif %}