<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <title>{% block title %}Tech Blog{% endblock title%}</title>

    {% block stylesheets %}
    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="{{ asset('assets/css/blog.css') }}" rel="stylesheet">
        <!-- Custom styles for menu -->
    <link href="{{ asset('assets/css/menu.css') }}" rel="stylesheet">
        <!-- Custom styles for archive dropdown -->
    <link href="{{ asset('assets/css/dropdown.css') }}" rel="stylesheet">

    <!-- jQuery , to Select2 working -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    {% endblock stylesheets%}
</head>

<body>
{% block body %}

    {% block top_container %}
        <div class="container">
            {% block header %}
                <header class="blog-header py-3">
                    <div class="row flex-nowrap justify-content-between align-items-center">
                        <div class="col-4 pt-1">
                            <a class="text-muted" href="#">Subscribe</a>
                        </div>
                        <div class="col-4 text-center">
                            <a class="blog-header-logo text-dark" href="{{ path('tech_blog_homepage') }}">Tech Blog</a>
                        </div>
                        <div class="col-4 d-flex justify-content-end align-items-center">
                            <a class="text-muted" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
                            </a>
                            <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>
                        </div>
                    </div>
                </header>
            {% endblock header %}

            {% block navigations %}
                <div class="nav-scroller py-1 mb-2">
                    <nav class="nav d-flex justify-content-between">
                        {{ knp_menu_render('main') }}
                    </nav>
                </div>
            {% endblock navigations %}

            {% block main_post %}{% endblock main_post %}

            {% block popular_posts %}{% endblock popular_posts %}
        </div>
    {% endblock top_container %}

    {% block main_container %}
        <main role="main" class="container">
            <div class="row">
                <div class="col-md-8 blog-main">
                    {% block title_publication %}
                        <h3 class="pb-3 mb-4 font-italic border-bottom">
                            Last publication
                        </h3>
                    {% endblock title_publication %}
                    {% block blog_post %}{% endblock blog_post %}

                    {% block pagination %}{% endblock pagination %}

                </div><!-- /.blog-main -->

                {% block sidebar %}
                    <aside class="col-md-4 blog-sidebar">
                        <div class="p-3 mb-3 bg-light rounded">
                            <p><a href="{{ path('add_post') }}">Add Post</a></p>
                            {% if post is defined %}
                                <p><a href="{{ path('remove_post', {'id': post.id}) }}">Remove Post</a></p>
                                <p><a href="{{ path('edit_post', {'id': post.id}) }}">Edit Post</a></p>
                            {% endif %}
                            <h4 class="font-italic">About</h4>
                            <p class="mb-0">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
                        </div>

                        {% block date_publications %}
                            <div class="p-3">
                                <h4 class="font-italic">Archives</h4>
                                <ol class="list-unstyled mb-0">
                                    <div class="sidenav">
                                        {% for year, months in period %}
                                            <button class="dropdown-btn">{{ year }}
                                                <i class="fa fa-caret-down"></i>
                                            </button>
                                            <div class="dropdown-container">
                                                {% for month in months %}
                                                    <a href="{{ path('archive', {date: [year, month]|join('-')}) }}">{{ month }}</a>
                                                {% endfor %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </ol>
                            </div>
                        {% endblock date_publications %}

                        {% block tags %}
                        <div class="p-3">
                            <h4 class="font-italic">Tags</h4>
                            <ol class="list-unstyled">
                                {% for tag in tags %}
                                    <li><a href="{{ path('tag', {name: tag.name}) }}">{{ tag.name }}</a></li>
                                {% endfor %}
                            </ol>
                            {% for message in app.flashes('notice')  %}
                                {{ message }}
                            {% endfor %}
                        </div>
                        {% endblock tags %}
                    </aside><!-- /.blog-sidebar -->
                {% endblock sidebar %}


            </div><!-- /.row -->

        </main><!-- /.container -->
    {% endblock main_container %}

    {% block footer %}
    <footer class="blog-footer">
        <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        <p>
            <a href="#">Back to top</a>
        </p>
    </footer>
{% endblock footer %}

{% endblock body %}
{% block javascripts %}
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="{{ asset('assets/js/vendor/popper.min.js') }}"></script>
<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/js/vendor/holder.min.js') }}"></script>
<script src="{{ asset('assets/js/dropdown.js') }}"></script>
<script>
    Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
    });
</script>
{% endblock  javascripts%}
</body>
</html>

